<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /

    # Redirect all requests to index.php, except for actual files or directories
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Block access to certain file types
<Files .*>
    Order Deny,Allow
    Deny from all
</Files>

# Deny access to specific files
<FilesMatch "(^\.|(?:htaccess|htpasswd|config|env|ini|log|sh|sql))">
    Order Deny,Allow
    Deny from all
</FilesMatch>
